@page "/login"

<h1>🔐 Login</h1>

<form method="post" action="/login-user">
    <input class="form-control" name="email" placeholder="Email" />
    <br />

    <input class="form-control" type="password" name="password" placeholder="Password" />
    <br />

    <button class="btn btn-primary" type="submit">Login</button>
</form>