@page "/logout"

@inject NavigationManager Navigation

<h3>Logging out...</h3>

<form method="post" action="/logout-user">
    <button class="btn btn-danger" type="submit">Confirm Logout</button>
</form>