@page "/register"
@rendermode InteractiveServer

@using ToddlerActivityPlanner.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Navigation

<h1>🔐 Register</h1>

<input class="form-control" @bind="email" placeholder="Email" />
<br />

<input class="form-control" type="password" @bind="password" placeholder="Password" />
<br />

<button class="btn btn-primary" @onclick="RegisterUser">Register</button>

@if (!string.IsNullOrWhiteSpace(message))
{
    <p>@message</p>
}

@code {
    private string email = "";
    private string password = "";
    private string message = "";

    private async Task RegisterUser()
    {
        var user = new ApplicationUser
        {
            UserName = email,
            Email = email
        };

        var result = await UserManager.CreateAsync(user, password);

        if (result.Succeeded)
        {
           Navigation.NavigateTo("/login", forceLoad: true);
        }
        else
        {
            message = string.Join(", ", result.Errors.Select(e => e.Description));
        }
    }
}